<h1>List of Lessons</h1>

<% @lessons.each do |lesson| %>
  <li><%= lesson.id %>: <%= link_to lesson.title, lesson.path %></li>
<% end %>

</br>

<%#= link_to "Create New Hash Code", new_url_path , :class => "btn btn-success" %>
<!-- <br> -->
<hr>
<% @lessons.each do |lesson| %>
<li><%= lesson.inspect %></li>
 <% end %>